<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a href="~/" class="brand-link">
            <img src="~/lib/adminlte/assets/img/AdminLTELogo.png" alt="Logo" class="brand-image opacity-75 shadow" />
            <span class="brand-text fw-light">Lam Shop</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation" aria-label="Main navigation" data-accordion="false" id="navigation">
                <li class="nav-item">
                    <a href="~/" class="nav-link">
                        <i class="nav-icon bi bi-speedometer2"></i>
                        <p>Trang chủ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Product" class="nav-link">
                        <i class="nav-icon bi bi-box-seam"></i>
                        <p>Sản phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Cart" class="nav-link">
                        <i class="nav-icon bi bi-cart"></i>
                        <p>Giỏ hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Order" class="nav-link">
                        <i class="nav-icon bi bi-receipt"></i>
                        <p>Đơn hàng của tôi</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>